# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Model / large files (optional but recommended)
*.pkl
*.joblib

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db